In [3]:
#Create a program that when it is execute, shows us the number of even {2,4,6}
#numbers obtained in 10,000 dice roll.


#Define an array with all possible outcome
possible_outcomes = [1,2,3,4,5,6]

# define the counter of the times an even number was obtained
number_of_execution = 10000

#wanted outcome
wanted_outcomes = [2,4,6]

In [8]:
import numpy as np
number_of_even = 0
# we will write an iteration for dice roll
for i in range(number_of_execution):
    x = np.random.choice(possible_outcomes)
    if(x in wanted_outcomes):
        number_of_even += 1

In [18]:
# Computing the probability
probaility_of_even = number_of_even / number_of_execution

#print the probability
print("{0:d} of the outcomes were even, we had a probability of around {1:.3f} ".format(number_of_even,probaility_of_even) )

4945 of the outcomes were even, we had a probability of around 0.494

In [19]:
# Given a list of student, find the probability a student gets A (80%+)
# in math, given they miss 10 or more classes.

import pandas as pd

df = pd.read_csv('/Users/carlos-theran/Documents/famu-spring22/Mat4906-ML/student-mat.csv')
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [20]:
# For our problem we need only columns of absents and final grade G3 
#(0-20. Lets rescale the grades from 0 to 100 and rewirte the column)

df['grade_A'] = np.where(df['G3']*5>80,1,0)
df['high_absences'] = np.where(df['absences']>=10,1,0)

In [22]:
#add one more column for our pivot table, and drop the columns we don't need
df['count'] = 1
df = df[['grade_A','high_absences','count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [23]:
table = pd.pivot_table(df, values='count',index=['grade_A'],columns=['high_absences'], aggfunc=np.size )
table

high_absences    0   1
grade_A
0              292  79
1               20   4

In [27]:
#Computing the probability a student get an A in math, igven thry miss 10 or more classes
#P(A) = is the probability of a grade of 80% or grather.
#p(B) = is the probaility of missing 10 or more classes.
# P(A|B) = is the probability of a 80% grade, given missing 10 classes.

p_a = (table.values[1,0]+table.values[1,1])/(table.values[1,0]+table.values[1,1]+table.values[0,1]+table.values[0,0]) 
p_b = (table.values[0,1]+table.values[1,1])/(table.values[1,0]+table.values[1,1]+table.values[0,1]+table.values[0,0])

pa_and_pb = table.values[1,1]/(table.values[1,0]+table.values[1,1]+table.values[0,1]+table.values[0,0])

prob = pa_and_pb/p_b

print("The probability a student get a A in math, given they miss 10 or more clases is", prob)

The probability a student get a A in math, given they miss 10 or more clases is 0.048192771084337345